<div class="hk-menu">
    <!-- Brand -->
    <div class="menu-header">
        <span class="text-center w-100 mt-3">
            <a class="navbar-brand" href="/dashboard">
                <img class="brand-img img-fluid w-75" src="/images/ddsplogo.jpeg" alt="brand" />
            </a>
        </span>
    </div>
    <!-- /Brand -->
    <!-- Main Menu -->
    <div data-simplebar class="nicescroll-bar">
        <div class="menu-content-wrap">
            <div class="menu-group">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">
                            <span class="nav-icon-wrap">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-template" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <rect x="4" y="4" width="16" height="4" rx="1" />
                                        <rect x="4" y="12" width="6" height="8" rx="1" />
                                        <line x1="14" y1="12" x2="20" y2="12" />
                                        <line x1="14" y1="16" x2="20" y2="16" />
                                        <line x1="14" y1="20" x2="20" y2="20" />
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu-gap"></div>
            <div class="menu-group">
                <ul class="navbar-nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse"
                            data-bs-target="#dash_reports">
                            <span class="nav-icon-wrap">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-browser"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="4" y="4" width="16" height="16" rx="1"></rect>
                                        <line x1="4" y1="8" x2="20" y2="8"></line>
                                        <line x1="8" y1="4" x2="8" y2="8"></line>
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">User</span>
                        </a>
                        <ul id="dash_reports" class="nav flex-column collapse  nav-children">
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/userlist"><span class="nav-link-text">User
                                                List</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/adduser"><span class="nav-link-text">Add
                                                User</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse"
                            data-bs-target="#dash_reports1">
                            <span class="nav-icon-wrap">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-browser"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="4" y="4" width="16" height="16" rx="1"></rect>
                                        <line x1="4" y1="8" x2="20" y2="8"></line>
                                        <line x1="8" y1="4" x2="8" y2="8"></line>
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">Farmer</span>
                        </a>
                        <ul id="dash_reports1" class="nav flex-column collapse  nav-children">
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/farmerlist"><span class="nav-link-text">Farmer
                                                List</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse"
                            data-bs-target="#field_officer">
                            <span class="nav-icon-wrap">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-browser"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="4" y="4" width="16" height="16" rx="1"></rect>
                                        <line x1="4" y1="8" x2="20" y2="8"></line>
                                        <line x1="8" y1="4" x2="8" y2="8"></line>
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">Field Officer</span>
                        </a>

                        <ul id="field_officer" class="nav flex-column collapse  nav-children">
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/fieldOfficerlist"><span class="nav-link-text">All Field
                                                Officer</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul id="field_officer" class="nav flex-column collapse  nav-children">
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/getAllFieldWorkerWorkDetails"><span
                                                class="nav-link-text">Work Details</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse"
                            data-bs-target="#astpdtcdt">
                            <span class="nav-icon-wrap">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-browser"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="4" y="4" width="16" height="16" rx="1"></rect>
                                        <line x1="4" y1="8" x2="20" y2="8"></line>
                                        <line x1="8" y1="4" x2="8" y2="8"></line>
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">Asst project coordinator</span>
                        </a>

                        <ul id="astpdtcdt" class="nav flex-column collapse  nav-children">
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Asst_Project_Coordinator"><span class="nav-link-text">All AsstPC</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse"
                            data-bs-target="#project_coordinator">
                            <span class="nav-icon-wrap">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-browser"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="4" y="4" width="16" height="16" rx="1"></rect>
                                        <line x1="4" y1="8" x2="20" y2="8"></line>
                                        <line x1="8" y1="4" x2="8" y2="8"></line>
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">Project Coordinator</span>
                        </a>
                        <ul id="project_coordinator" class="nav flex-column collapse  nav-children">
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Project_Coordinator"><span class="nav-link-text">PClist</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul id="project_coordinator" class="nav flex-column collapse  nav-children">
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Coorddinator_work_details"><span class="nav-link-text">Report</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse"
                            data-bs-target="#intraction">
                            <span class="nav-icon-wrap">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-browser"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="4" y="4" width="16" height="16" rx="1"></rect>
                                        <line x1="4" y1="8" x2="20" y2="8"></line>
                                        <line x1="8" y1="4" x2="8" y2="8"></line>
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">Intraction</span>
                        </a>
                        <ul id="intraction" class="nav flex-column collapse  nav-children">
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/intration_with_farmer"><span class="nav-link-text">with_Farmer</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" data-bs-toggle="collapse"
                            data-bs-target="#Repots">
                            <span class="nav-icon-wrap">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-browser"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="4" y="4" width="16" height="16" rx="1"></rect>
                                        <line x1="4" y1="8" x2="20" y2="8"></line>
                                        <line x1="8" y1="4" x2="8" y2="8"></line>
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">Reports</span>
                        </a>
                        <ul id="Repots" class="nav flex-column collapse  nav-children">
                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/getfarmerbyclusetr"><span
                                                class="nav-link-text">ClusterWisefarmerInfo</span></a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/getFarmerCropByCrop"><span class="nav-link-text">CropWiseData</span></a>
                                    </li>
                                </ul>
                            </li>


                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/getfieldworkerreport"><span
                                                class="nav-link-text">FieldWorkersActivityReport</span></a>
                                    </li>
                                </ul>
                            </li>


                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/Crop-Details"><span class="nav-link-text">ComparativeReport
                                                (Crop-Wise)</span></a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/locationreportbyuser"><span class="nav-link-text">AttendanceReportByUser</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/changepassword/{{user.id}}">
                            <span class="nav-icon-wrap">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-calendar-time" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" />
                                        <circle cx="18" cy="18" r="4" />
                                        <path d="M15 3v4" />
                                        <path d="M7 3v4" />
                                        <path d="M3 11h16" />
                                        <path d="M18 16.496v1.504l1 1" />
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">Change Password</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/adminlogout">
                            <span class="nav-icon-wrap">
                                <span class="svg-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-calendar-time" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" />
                                        <circle cx="18" cy="18" r="4" />
                                        <path d="M15 3v4" />
                                        <path d="M7 3v4" />
                                        <path d="M3 11h16" />
                                        <path d="M18 16.496v1.504l1 1" />
                                    </svg>
                                </span>
                            </span>
                            <span class="nav-link-text">Logout</span>
                        </a>
                    </li>


                </ul>
            </div>
            <div class="menu-gap"></div>
        </div>
    </div>
    <!-- /Main Menu -->
</div>
<div id="hk_menu_backdrop" class="hk-menu-backdrop"></div>