{{>header user=user farmersList=farmersList}}

{{>verticalnav user=user farmersList=farmersList}}

<div class="hk-pg-wrapper">
    <div class="container-xxl">
        <header class="invoice-header">
            <div class="d-flex align-items-center">
                <h1>Change Password</h1>
            </div>
        </header>
        <p class="mb-4">
            {{#if error}}
            {{#each error}}
        <div class="alert alert-danger">{{this}}</div>
        {{/each}}
        {{/if}}
        {{#if success}}
        {{#each success}}
        <div class="alert alert-success">{{this}}</div>
        {{/each}}
        {{/if}}
        </p>
        
        <form action="/update_password/{{user.id}}" method="post">
            <div class="mb-3">
                <label for="oldpassword">Old Password</label>
                <input type="password" class="form-control" name="oldpassword">
            </div>
            <div class="mb-3">
                <label for="newpassword">New Password</label>
                <input type="password" class="form-control" name="newpassword">
            </div>
            <div class="mb-3">
                <label for="cpassword">Confirm Password</label>
                <input type="password" class="form-control" name="cpassword">
            </div>
            <button type="submit" class="btn btn-dark">Change Password</button>
        </form>
    </div>
</div>

<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 3000);
</script>

{{>footer}}